@charset "utf-8";
/* CSS Document */
/*- global -*/
body{ background:#fff url(../images/bg.png) repeat-x;font:100%/100% "微軟正黑體","Microsoft JhengHei",Arial,Helvetica,sans-serif; color:#353535}
/*- global -*/
/*- layout css -*/
#warpper{font-size:123.1%;line-height: 160%;color:#353535}
.content{width: 960px;margin: 0 auto;min-height: 990px}
/*.nav{position: absolute}*/
.nav, .scrollBtn{position: fixed}
.nav{top: 35%;right:1%}
.nav > ul > li{margin-bottom: 15px;width: 15px}
.nav > ul > li > a{
	-webkit-border-radius: 100px;
	border-radius: 100px;
	display: block;height: 15px;
	background-color: #2d8090;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden}
.nav > ul > li > a:hover, .nav > ul > li > .current{background-color: #fedb00}
.scrollBtn{left:50%;bottom: 1%;display: block}
/*-- index set ---*/
.logo{margin: 0 auto 65px;padding-top: 50px}
#home > .summary{position: relative}
#home > .summary > ul{position: absolute}
#home > .summary > ul > li{display: inline-block;width: 220px}
#home > .summary > ul > li > a{display: block;text-indent: -9999px;height: 310px}
#home .summary .list-news > li{
	width: 100%;
}
#home h3{
	font-size: 167%;
	color: #0099b0;
	line-height: 100%;
	margin-top: 30px;
	border-left:5px solid #2b828d;
	padding-left:10px}
.list-news{margin-top: 10px;}
.date, .news-txt{
	display: inline-block;
}
.date{
	color: #999;
	margin-right: 10px;
	}
.news-txt a{
	color: #353535;
	text-decoration: underline;
}
.news-txt a:hover{
	text-decoration: none;
}
/*-- index set ---*/
/*-- about set ---*/
.summary {padding-bottom:50px}
.summary > h2{
	background: url(../images/title_separator.gif) repeat-x 0 bottom;
	color: #2a4056;
	font-size: 54px;
	line-height:180%;
	font-weight: normal;
	margin-bottom:30px}
.summary p{margin-bottom: 10px;}
.summary p, .txtTitle, .useBoxSecond ul > li, .showCaseBox ul li{font-size:123.1%}
.box > ul > li  p, .txtTitle, .iotBox ul > li p{color: #0099b0}
.aboutBox ul > li, .useBox ul > li{display: inline-block;}
.aboutBox ul > li:first-child + li{margin: 0 120px}
.txt{margin-top:10%}
/*-- about set ---*/
/*-- service set ---*/
.serviceBox > h3{font-size: 167%;color: #0099b0;
	margin-bottom: 20px;line-height: 100%;
	border-left:5px solid #2b828d;
	padding-left:10px}
/*-- service set ---*/
/*-- use set ---*/
.useBox ul > li:first-child{margin-right: 20px}
.useBox ul > li:first-child + li, .useBox ul > li:first-child + li + li{margin: 0 25px}
.useBox ul > li:last-child{margin-left: 20px}
/*-- use set ---*/
/*-- useSecond set ---*/
/*.useBoxSecond >h3*/ .subTitle{font-size: 44px;color: #00616f;line-height: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
	font-weight: normal}
.useBoxSecond .box ul:nth-child(1)  {
	margin-top: 30px
}
.useBoxSecond ul{margin-left: 10px}
.useBoxSecond ul > li{width: 45%;float: left;margin-bottom: 15px}
/*.useBoxSecond ul > li > .left{width: 136px}*/
.useBoxSecond ul > li > .right{width:280px;padding-top:20px}
.txtTitle{font-size: 138.5%;font-weight: bold;margin-bottom: 10px}
.useBoxSecond ul > li ul{padding-left: 20px}
.useBoxSecond ul > li ul > li, .showCaseBox ul > li,
.list-portal li, .list-log > li{width: 100%;
	list-style-type:disc;
	margin-bottom: 0}
.list-portal li{
	font-size: 123.1%;
	margin: 5px 0 10px 35px;
}
.manage-pic{
	background: url(../images/security-portal.png) center 0 no-repeat;
	position: relative;
	width: 776px;
	height: 449px;
	margin: 0 auto;
	z-index: 1;
}
.manage-pic a{
	position: absolute;
	display: block;
	text-indent: 110%;
	white-space: nowrap;
	cursor:default;
	overflow: hidden;
}
.manage-pic .step1{
	width: 220px;
	height: 190px;
	left: 68px;
	top: 236px;
	z-index: 1;
}
/*.manage-pic .step1:hover{
	background: url(../images/security-portal-1.png) 0 0 no-repeat;
}*/
.manage-pic .step2{
	width: 190px;
	height: 360px;
	left: 320px;
	top: 80px;
	z-index: 2;
}
/*.manage-pic .step2:hover{
	background: url(../images/security-portal-2.png) 0 0 no-repeat;
}*/
.manage-pic .step3{
	width: 210px;
	height: 350px;
	right: 83px;
	top: 0;
	z-index: 3;
}
/*.manage-pic .step3:hover{
	background: url(../images/security-portal-3.png) 0 0 no-repeat;
}*/
.useBoxSecond .attack > li{width: 50%}
.aliem-box .summary{
	padding-bottom: 50px;
	position: relative;
	z-index: 1;
}
.bg-mask{
	position: absolute;
	z-index: 2;
	background-color: #fff;
	width: 960px;
	height: 166px;
	left: 0;
	bottom: 0;}
.box-alienvault{
	margin-top: 50px;
	border-bottom: 1px solid #bcbcbc;
	position: relative;
	z-index: 1;
}
.box-alienvault img{
	width: 651px;
	margin: 0 auto;
	display: block;}

/*-- useSecond set ---*/
/*-- show Case set ---*/
.showCaseBox .title > h5, .iotBox .title > h4{
	background: url(../images/title_separator02.png) no-repeat 100px 10px;
	font-size: 32px;line-height: 180%;
	color: #00616f;
	font-weight: normal;
	width: 140px;
	margin-right: 0}
.showCaseBox .title > h6, .iotBox .title > h5{font-size: 138.5%;line-height: 100%;
	color: #0099b0;margin-top: 35px}
.showCaseBox .box{margin-bottom:50px;width: 86%;margin: 0 auto 30px}
.showCaseBox .left{margin-right: 10px}
/*.showCaseBox .text{width: 610px}*/
.showCaseBox ul{margin-left: 10px}
.showCaseBox ul li{font-size:123.1%}
.showCaseBox ul > li{margin-left: 20px}
.showCaseBox  ol > li, .list-decimal li{list-style-type: decimal;margin-left: 20px}
.showCaseBox  ol > li > ul{margin-left: 0}
.showCaseBox  ol > li > ul > li{list-style-type: none;margin-left: 0}
/*-- show Case set ---*/
/*-- Big Data set ---*/
/*.bigDataBox > h2{margin-bottom: 10px;line-height: 160%}*/
.bigDataBox > .subTitle{margin-bottom: 50px}
.bigDataBox h4{
	font-size: 32px;line-height: 180%;
	color: #00616f;
	font-weight: normal;
	padding-left: 20px}
.bigDataBox .box{padding-bottom:20px;margin-bottom: 20px}
/*.bigDataBox .firstBox + .box {border-bottom:1px dotted #020202}*/
.bigDataBox .firstBox{width: 90%;margin: 0 auto 50px;border-bottom: none;padding-bottom: 10px}
.bigDataBox .firstBox .left{margin-right: 15px}
.list-log{
	margin: 10px 0 20px 35px;
}
.list-log li{
	font-size: 123.1%;
}
.list-log > li{

}
/*-- Big Data set ---*/
/*-- iot set ---*/
.iotBox .box{width:99%;margin: 0 auto}
.iotBox .box > p{margin:40px auto 100px}
.iotBox .title > h4{margin:0 0 30px 20px}
.iotBox ul{margin:0 0 30px 40px}
.iotBox ul + ul{margin: 0 40px 0 0}
.iotBox ul > li{display: inline-block;width: 200px;vertical-align: top}
.iotBox ul > li p{font-weight: bold}
.list-logo li{
	display: inline-block;
	margin: 0 75px 30px}
.list-logo .last{margin-right: 0;}
/*-- iot set ---*/
/*-- Contact set ---*/
.contactBox .box{width: 90%;margin: 0 auto}
.contactBox ul{width:40%;margin-top:200px}
.contactBox ul > li{width: 100%}
.contactBox ul > li .left, .contactBox ul > li .right{font-size:123.1%}
.contactBox ul > li .left{
	color: #0099b0;
	width:25%}
.contactBox ul > li .right{
	background: url(../images/title_separator02.png) -20px 0 no-repeat;
	width:67%;
	padding-left:25px}
/*-- Contact set ---*/
/*-- support set ---*/
.supportBox ul > li{
	background: url(../images/support_icon.png) no-repeat;
	width: 209px;
	font-size:123.1%;
	text-align: left;
	display: inline-block;
	line-height:300%}
.downloadBtn > li{position: relative}
.supportBox ul > li > a{height: 49px;
	display: block;
	color: #fff;
	padding-left: 20px}
.supportBox ul > li:first-child + li{margin: 0 50px}
.supportBox ul > li > ul{position: absolute;display: none;top: 49px;left: 0}
.supportBox ul > li > ul > li{
	background-image: none;
	background-color: #13a7bd;
		display:block;}
.supportBox ul > li > ul > li:first-child + li{margin: 0}
.supportBox ul > li > ul > li > a{
	padding: 0 10px 0 20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow: hidden}
.supportBox ul > li > ul > li > a:hover{
	background-color: #29b9cf;
	color: #fff}
/*-- support set ---*/
/*-- footer set ---*/
/*.footer{margin-top: 100px}*/
.footer{position: absolute;left: 0; bottom: 20%; right: 0}
.footer p{font-size:123.1%}
/*-- footer set ---*/
/*- global -*/
.left{float: left}
.right{float: right}
.alignLeft{text-align:left}
.alignCenter{text-align: center}
.alignRight{text-align: right}
.clear{clear:both}
a{text-decoration:none}
.clearfix:before, .clearfix:after {content: "";display:table}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.centerContainer{position: relative}
.absoluteCenter{
  height: 80%;
  /*overflow: auto;*/
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0}
/*- global -*/
/*- layout css end-*/
